.search{
    --padding: 14px;
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
}
.search-input{
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
    flex: 1;
}
.search-form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 25px;
    width: 50%;
    margin: 0 auto;
}

.container-files{
    display: flex;
    justify-content: flex-start;
    /*border-style: none;*/
    /*border-width: none;*/
    padding: 10px;
    flex-wrap: wrap;
}
.card{
    padding: 10px;
    margin-bottom: 15px;
    margin-right: 15px;
    border-radius: 10px;
}
footer{
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #f6f6f6;
   color: black;
   text-align: center;
    padding: 10px;
}

.profile-link{
    border-style: solid;
    border: coral;
    background: lightgreen;
    text-align: center;
    font-size: 10px;
}
.page_num{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border: lightgreen;
    border-style: solid;
    background: lightgreen;
}


.left-bar{
    float: left;
    width: 200px;
    background-color: #f0f0f0;
    padding: 10px;
}

.result-box{
    display: flex;
    flex: 1;
    margin-top: 5px;
    width: 85%;
    margin: 0 auto;
    overflow-y: scroll;

}

.result-box ul{
    border-top: 1px solid #ccc;
    padding: 10px 10px;
    background: #f6f6f6;
    width: 100%;
}

.result-box ul li{
    list-style: none;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    background: #c9c9c9;
    margin-top: 5px;
}

.result-box ul li:hover{
    background: #9ef3ff;
}


