{% extends 'Base.html' %}
{% block content %}
    {% load static %}
<div class="search-form">
    <div class="search">
        <span class="material-symbols-outlined">search</span>
        <input type="text" placeholder="Search for files" name="search" class="search-input" id="input-box">
        <button type="submit" class="btn btn-success">search</button>
    </div>
    <div class="result-box">
    </div>
</div>
<!--End of search bar-->
<div class="message-login">
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="alert alert-danger" style="margin-top:10px; text-align: center">{{ message }}</div>
    {% endif %}
    {% if message.tags == 'success' %}
    <div class="alert alert-success" style="margin-top:10px; text-align: center">{{ message }}</div>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
<h4 bold="true">Some file may you need</h4>
<div class="container-files">

    {% for file in Files %}
    <div class="card", style="width: 18rem;">
        <img src="{% static 'Media/' %}{{ file.thumbnail }}" class="card-img-top" alt="thumbnail">
        <div class="card-body">
            <h5 class="card-title">{{ file.Name }}</h5>
            {% for category in categories %}
                {% if category.id == file.category_id %}
                    <p class="card-text">Category: {{ category.category }}</p>
                {% endif %}
            {% endfor %}
            <p class="card-text">Describe: {{ file.describe }}</p>
            <a href="{% url 'ViewFiles' file_id=file.id %}" class="btn btn-primary">View detail</a>
        </div>
    </div>

    {% endfor %}

</div>
<div class="page_num">
{#  <ul class="pagination">#}
{#    <li class="page-item"><a class="page-link" href="#">Previous</a></li>#}
{#    {% for i in NumberOfFiles %}#}
{#        <li class="page-item"><a class="page-link" href="#">{{ i }}</a></li>#}
{#    {% endfor %}#}
{#    <li class="page-item"><a class="page-link" href="#">Next</a></li>#}
{#  </ul>#}
</div>
{% endblock %}
{% block custom_js %}
<script>
window.fileNames = {{ FileName|safe }};
    </script>
    <script src="{% static 'js/autocomplete.js' %}"></script>
{% endblock %}