{% extends 'Base.html' %}
{% block content %}
    {% load static %}

    <div class="search-form">
<form>
    {% csrf_token %}
    <div class="search">
        <span class="material-symbols-outlined">search</span>
        <input type="text" placeholder="Search for files" name="search" class="search-input">
        <button type="submit" class="btn btn-success">search</button>
    </div>
</form>
</div>
<!--End of search bar-->
<div class="message-login">
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="alert alert-danger" style="margin-top:10px; text-align: center">{{ message }}</div>
    {% endif %}
    {% if message.tags == 'success' %}
    <div class="alert alert-success" style="margin-top:10px; text-align: center">{{ message }}</div>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
<h4 bold="true">Some file may you need</h4>
<div class="container-files">

    {% for file in Files %}
    <div class="card", style="width: 18rem;">
        <img src="{% static 'Media/' %}{{ file.picture }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ file.Name }}</h5>
            <p class="card-text">{{ file.describe }}</p>
            <a href="{% url 'ViewFiles' category=file.category file_id=file.id %}" class="btn btn-primary">View detail</a>
        </div>
    </div>
        
    {% endfor %}
{#    <div class="card" style="width: 18rem;">#}
{#      <img src="{% static 'Media/Logo.jpg' %}" class="card-img-top" alt="...">#}
{#      <div class="card-body">#}
{#        <h5 class="card-title">Card title</h5>#}
{#        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
{#        <a href="#" class="btn btn-primary">Go somewhere</a>#}
{#      </div>#}
{#    </div>#}


</div>
{% endblock %}